<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.product.sys.user.dao.UserMapper">  
	<!-- <resultMap type="com.product.sys.user.po.UserPO" id="userMap">
		<result property="userid" column="userid"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<collection property="roles" ofType="com.product.sys.role.po.RolePO">  
            <id property="roleid" column="roleid" />  
            <result property="roleName" column="rolename" /> 
            <result property="status" column="status" /> 
        </collection>  
	</resultMap> -->

    
   
       
</mapper>  